@font-face{
    font-family: "Digitall";
    src: url('Digitall.ttf'),
    url('Digitall.eot'); /* IE */
}

@font-face{
    font-family: "RacingSansOne";
    src: url('RacingSansOne-Regular.ttf'),
    url('RacingSansOne-Regular.eot'); /* IE */
}


body{
	font-family: "Courier New";
	line-height:1.5em;
	max-width:69%;
	padding:0 2%;
	margin:auto;
}

iframe {
	width: 100%;
}

h2 {
	font-family: "Digitall";
	text-align: center;
	font-size: 400%;
}

h3 {
	text-align: center;
	font-size: 200%;
}

p {
	font-family: "Lucida Sans Unicode", sans-serif;
}

a{
	text-decoration: none;
}

a:hover {
	color:white;
	background-color: black;
}

.contact {
	text-align: center;
}

.contact ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.contact li {
	display: inline;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

footer {
	margin-bottom: 4%;
}